<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Ceres"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".ludificationScreens.CreateToolActivity"
            android:exported="false" />
        <activity
            android:name=".ludificationScreens.CreatePlantActivity"
            android:exported="false" />
        <activity
            android:name=".ludificationScreens.ShowDictionaryItemActivity"
            android:exported="false" />
        <activity
            android:name=".ludificationScreens.ShowDictionaryActivity"
            android:exported="false" />
        <activity
            android:name=".ludificationScreens.DictionaryHome"
            android:exported="false" />
        <activity
            android:name=".formsScreen.FormsRegistersActivity"
            android:exported="false" />
        <activity
            android:name=".gardens.WhatsappActivity"
            android:exported="false" />
        <activity
            android:name=".gardens.CollaboratorGardensActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.opcv.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".gardens.OtherGardensActivity"
            android:exported="false" />
        <activity
            android:name=".adapter.GardenAvailableListAdapter"
            android:exported="false" />
        <activity
            android:name=".auth.SelectPhotoActivity"
            android:exported="false" />
        <activity
            android:name=".formsScreen.Form_RSMP"
            android:exported="false" />
        <activity
            android:name=".formsScreen.Form_SCMPH"
            android:exported="false" />
        <activity
            android:name=".formsScreen.Form_IMP"
            android:exported="false" />
        <activity
            android:name=".formsScreen.Form_RE"
            android:exported="false" />
        <activity
            android:name=".formsScreen.Form_RHC"
            android:exported="false" />
        <activity
            android:name=".formsScreen.Form_CIH"
            android:exported="false" />
        <activity
            android:name=".formsScreen.Form_RRH"
            android:exported="false" />
        <activity
            android:name=".formsScreen.Form_RCC"
            android:exported="false" />
        <activity
            android:name=".formsScreen.Form_CPS"
            android:exported="false" />
        <activity
            android:name=".formsScreen.Form_RAC"
            android:exported="false" />
        <activity
            android:name=".FormsActivity"
            android:exported="false" />
        <activity
            android:name=".auth.RegisterMobilePhone"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity
            android:name=".MapsActivityFragment"
            android:exported="false"
            android:label="@string/title_activity_maps_fragment" />
        <activity
            android:name=".MapsActivity"
            android:exported="false" />
        <activity
            android:name=".adapter.FormsRegisterAdapter"
            android:exported="false" />
        <activity
            android:name=".RegisterForms"
            android:exported="false" />
        <activity
            android:name=".auth.RegisterProfileActivity"
            android:exported="false" />
        <activity
            android:name=".gardens.GardenForms"
            android:exported="false" />
        <activity
            android:name=".gardens.GardenRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".adapter.GardenMembersAdapter"
            android:exported="false" />
        <activity
            android:name=".gardens.GardenMembersActivity"
            android:exported="false" />
        <activity
            android:name=".auth.EditUserActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".GenerateReportsActivity"
            android:exported="false" />
        <activity
            android:name=".gardens.GardenEditActivity"
            android:exported="false" />
        <activity
            android:name=".guestLoginActivity"
            android:exported="false" />
        <activity
            android:name=".NewToAppActivity"
            android:exported="false" />
        <activity
            android:name=".registroLombriculturaActivity"
            android:exported="false" />
        <activity
            android:name=".gardens.CreateGardenActivity"
            android:exported="false" />
        <activity
            android:name=".gardens.GardensAvailableActivity"
            android:exported="false" />
        <activity
            android:name=".TermsAndConditionsActivity"
            android:exported="false" />
        <activity
            android:name=".gardens.GardenActivity"
            android:exported="false" />
        <activity
            android:name=".auth.DeleteAccountActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SignOffActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>