<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Ceres"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">
        <activity
            android:name=".view.ludification.CreateToolActivity"
            android:exported="false" />
        <activity
            android:name=".view.ludification.CreatePlantActivity"
            android:exported="false" />
        <activity
            android:name=".view.ludification.ShowDictionaryItemActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".view.ludification.ShowDictionaryActivity"
            android:exported="false" />
        <activity
            android:name=".view.ludification.DictionaryHomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.forms.FormsRegistersActivity"
            android:exported="false" />
        <activity
            android:name=".view.gardens.WhatsappActivity"
            android:exported="false" />
        <activity
            android:name=".view.gardens.CollaboratorGardensActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.opcv.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".view.gardens.OtherGardensActivity"
            android:exported="false" />

        <activity
            android:name=".view.auth.SelectPhotoActivity"
            android:exported="false" />
        <activity
            android:name=".view.forms.Form_RSMP"
            android:exported="false" />
        <activity
            android:name=".view.forms.Form_SCMPH"
            android:exported="false" />
        <activity
            android:name=".view.forms.Form_IMP"
            android:exported="false" />
        <activity
            android:name=".view.forms.Form_RE"
            android:exported="false" />
        <activity
            android:name=".view.forms.Form_RHC"
            android:exported="false" />
        <activity
            android:name=".view.forms.Form_CIH"
            android:exported="false" />
        <activity
            android:name=".view.forms.Form_RRH"
            android:exported="false" />
        <activity
            android:name=".view.forms.Form_RCC"
            android:exported="false" />
        <activity
            android:name=".view.forms.Form_CPS"
            android:exported="false" />
        <activity
            android:name=".view.forms.Form_RAC"
            android:exported="false" />

        <activity
            android:name=".view.auth.RegisterMobilePhone"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />


        <activity
            android:name=".view.gardens.MapsActivity"
            android:exported="false" />


        <activity
            android:name=".view.auth.RegisterProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.gardens.GardenFormsActivity"
            android:exported="false" />
        <activity
            android:name=".view.gardens.GardenRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".view.adapter.GardenMembersAdapter"
            android:exported="false" />
        <activity
            android:name=".view.gardens.GardenMembersActivity"
            android:exported="false" />
        <activity
            android:name=".view.auth.EditUserActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.gardens.GenerateReportsActivity"
            android:exported="false" />
        <activity
            android:name=".view.gardens.GardenEditActivity"
            android:exported="false" />
        <activity
            android:name=".view.auth.guestLoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.auth.NewToAppActivity"
            android:exported="false" />

        <activity
            android:name=".view.gardens.CreateGardenActivity"
            android:exported="false" />
        <activity
            android:name=".view.gardens.GardensAvailableActivity"
            android:exported="false" />
        <activity
            android:name=".view.auth.TermsAndConditionsActivity"
            android:exported="false" />
        <activity
            android:name=".view.gardens.GardenActivity"
            android:exported="false" />
        <activity
            android:name=".view.auth.DeleteAccountActivity"
            android:exported="false" />
        <activity
            android:name=".view.auth.SignOffActivity"
            android:exported="false" />
        <activity
            android:name=".view.base.HomeActivity"
            android:exported="false" />

        <activity
            android:name=".view.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.base.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>